* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --brand-color: rgb(82, 156, 241);
    --font-family: Roboto;
    --font-size: 10px;
}

h1 {
    font-size: 2.5rem;
}

.cabecera {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.navegador{
    
}

@media screen and (min-width: 480px)
{
    .navegador {
        display: flex;
    }
    
}

.lista{
    display: none;
    gap: 10px;
}

@media screen and (min-width: 480px) {
    .lista{
        display: flex;
        list-style: none;
        justify-content: space-around;
        color: white;
    }
}

header img {
    height: 24px;
    padding: 3px;
}

@media screen and (min-width: 480px)
{
    .logo-menu{
        display: none;
    }
}

.seccion-plan {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--brand-color);
    color: aliceblue;
    height: 50vh;
    padding: 20px;

}

@media screen and (min-width: 480px) {
    .seccion-plan {
        background-image: url("./imagenes/chica bailando.png");
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: contain;
        width: 100%;

    }


}

footer {
    background-color: black;
    color: gray;
}

.paquete {
    display: flex;
    flex-direction: column;
}

.icono {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 50px;
}

.pack {
    display: flex;
}

.titulo-pack{
    width: 100vw;
}